<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip color="secondary" mode="ios" outline="true">
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip color="tertiary" mode="ios" outline="true">
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip color="success" mode="ios" outline="true">
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip color="danger" mode="ios" outline="true">
    <ion-avatar>
      <img src="../../../assets/img/darthVader.jpg"/>
    </ion-avatar>
    <ion-icon name="star"></ion-icon>
    <ion-label color="dark">Danger</ion-label>
  </ion-chip>

</ion-content>
