<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Animação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="animate__animated animate__bounce" src="../../../assets/img/uma-nova-esperanca.jpg" alt="">
  <img class="animate__animated animate__jello" src="../../../assets/img/Contra-Ataca.jpg" alt="">
  <img class="animate__animated animate__heartBeat" src="../../../assets/img/retorno-de-jedi.jpg" alt="">
</ion-content>
