<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Segment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="selecionar($event)">
    <ion-segment-button value="frutas">
      <ion-label>Frutas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cores">
      <ion-label>Cores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngIf="opcaoSelecionada === 'frutas'">
      <ion-label>Maça</ion-label>
      <ion-label>Uva</ion-label>
      <ion-label>Pêra</ion-label>
      <ion-label>Melancia</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="opcaoSelecionada === 'cores'">
      <ion-label>Azul</ion-label>
      <ion-label>Vermelho</ion-label>
      <ion-label>Verde</ion-label>
      <ion-label>Amarelo</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
