<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
[scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
  <div slot="fixed">
    <h3>Ion Content</h3>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Ionic 5</ion-label>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

