<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="../../../assets/img/Contra-Ataca.jpg"></ion-img>
    <ion-card-content>
      <p>Star Wars V</p>
      <ion-card-title>O Império Contra-Ataca</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" mode="md">
    <ion-card-header>
      <ion-card-subtitle>The Lord of the Rings</ion-card-subtitle>
      <ion-card-title>The Return of the King</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Terceiro Filme da série
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>The Lord of the Rings</ion-card-subtitle>
      <ion-card-title>The Return of the King</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Terceiro Filme da série
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      Veja Mais
    </ion-card-header>

    <ion-list>
      <ion-button ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        Shopping
      </ion-button>

      <ion-button ion-item>
        <ion-icon name="medical" item-start></ion-icon>
        Hospital
      </ion-button>

      <ion-button ion-item>
        <ion-icon name="cafe" item-start></ion-icon>
        Cafe
      </ion-button>

      <ion-button ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        Dog Park
      </ion-button>

      <ion-button ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        Pub
      </ion-button>

      <ion-button ion-item>
        <ion-icon name="planet" item-start></ion-icon>
        Space
      </ion-button>

    </ion-list>
  </ion-card>

</ion-content>
