<ion-header [translucent]="true">
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <!-- <h1>Uma nova esperança</h1> -->
      <img src="../../../assets/img/uma-nova-esperanca.jpg">
    </ion-slide>

    <ion-slide>
      <!-- <h1>O Imperio contra-ataca</h1> -->
      <img src="../../../assets/img/Contra-Ataca.jpg">
    </ion-slide>

    <ion-slide>
      <!-- <h1>O retorno de Jedi</h1> -->
      <img src="../../../assets/img/retorno-de-jedi.jpg">
    </ion-slide>

  </ion-slides>

  <ion-slides>
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>

</ion-content>
